@import "./paged-style.css";


@page {
    size: A4 landscape;
    margin: 1cm 1cm 1cm 1cm;
}

@page: left {
    @bottom-left {
        content: counter(page);
    }
}

@page: right {
    @bottom-right {
        content: counter(page);
    }
}


@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src: url('../fonts/sporting-grotesque/webfonts/Regular/Sporting_Grotesque-Regular_web.eot');
    src: url('../fonts/sporting-grotesque/webfonts/Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sporting-grotesque/webfonts/Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
        url('../fonts/sporting-grotesque/webfonts/Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
        url('../fonts/sporting-grotesque/webfonts/Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
        url('../fonts/sporting-grotesque/webfonts/Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting Grotesque_Bold';
    src: url('../fonts/sporting-grotesque/webfonts/Bold/Sporting_Grotesque-Bold_web.eot');
    src: url('../fonts/sporting-grotesque/webfonts/Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sporting-grotesque/webfonts/Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
        url('../fonts/sporting-grotesque/webfonts/Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
        url('../fonts/sporting-grotesque/webfonts/Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
        url('../fonts/sporting-grotesque/webfonts/Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: "Sporting Grotesque_Regular";
    font-size: 11pt;
    line-height: 1.25em;
    color: dodger blue;
}

h1 {
    font-family: "Sporting Grotesque_Bold";
    font-size: 15pt;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 1.25em;
    /* line-height: 1.25em; */
    font-weight: normal;
}

h1.top {

    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 0.5em;
    font-weight: normal;
}

h2 {
    font-size: 2em;
    line-height: 1.25em;
    font-weight: normal;
}

h3 {
    font-size: 12pt;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Sporting Grotesque_Regular";
    font-weight: normal;
}

a {
    color: blue;
}

p+p {
    text-indent: 1em;
}

li {
    list-style: none;
}

p {
    font-size: 0.9rem;
    margin-bottom: 0px;
}


/* img {
    max-width: 2.5cm;
}

.images {
    width: 50%;
    float: left;
}

*/

.pagedjs_page_content>div {
    height: 100%;
}

.double-page {

    break-before: page;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.right-part {
    width: 45%;
}

.left-part {
    width: 45%;
}

.left-part>div {
    width: 100%;
    height: 100%;

}

/* .left-part>div  */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-part.long-text {
    display: flex;
    flex-direction: column-reverse;
}

.cover {
    object-fit: cover;
}

.container {
    display: flex;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.container>.left-part,
.container>.right-part {
    position: relative;
    height: calc(100% - 10px);
    transform: translateY(-20px);
}

.single-part {
    position: relative;
    height: calc(100% - 10px);
    transform: translateY(-20px);
    width: 100%;
}

.img-title {
    position: absolute;
    top: calc(100% + 0px);
    font-size: 0.6rem;
}

/* .pagedjs_page_content {
    height: 100%;
}

.pagedjs_page_content>div {
    height: 100%;
} */

/* .subtitles {
    font-family: AlanesianaRegular;
    column-count: 2;
    text-justify: auto;

    width: 50%;
    float: left;
} */